
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* DARK EDITION*/
/* @media (prefers-color-scheme: dark){ */
/* :root { */
    :root[data-theme="dark"]{
    --background-color:rgb(5, 5, 15);
    --theme-color:rgba(0, 0, 0, 0.87);
    --text-color:whitesmoke;
    --color-light:rgb(74, 174, 255);
    --color-dark:rgb(21, 150, 255);
    --color-alt:blue;
    color-scheme:dark;
    --transition: 0.2s ease-in-out;
    --invert-logo: none;
}
/*light EDITION*/
/* @media (prefers-color-scheme: light){
:root { */
:root[data-theme="light"]{
    --background-color:rgba(118, 193, 255, 0.877);
    --theme-color:rgba(118, 193, 255, 0.877);
    --text-color:rgba(0, 0, 0, 0.87);
    --color-light:rgb(21, 150, 255);
    --color-dark:rgb(0, 109, 199);
    --color-alt:blue;
    color-scheme:light;
    --transition: 0.2s ease-in-out;
    --invert-logo:invert(100%);
}
:root[data-theme="light"] .lightmodebtn{display:none;}
:root[data-theme="dark"] .darkmodebtn{display:none;}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: content-box;
    transition: background-color var(--transition)
}
/*-----------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------| G E N E R A L E S |-------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/
html {
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-weight: 100; */
}
header {
    padding: 10px;
    position: sticky;
    top: 0px;
    display:flex;
    flex-direction:row;
    background-color: var(--theme-color);
    z-index: 1;
    /* box-shadow: inset -2px -2px 10px black;  */
}
.hdr{
    display:flex;
    align-items: center;
}
header .logo {
    /* border:solid 1px red; */
    margin:0px 15px;
    width: 10%;
}

body{
    background-color: var(--background-color);
    color:var(--text-color);
    font-size: 2rem;
    display:flex;
    align-items:center;
    flex-direction:column
}
header h1{
    font-size: 5rem;
    font-weight: 200;
    color:var(--text-color);
    font-weight: 800;
}
h2{
    font-size: 7vw;
    color: var(--color-dark);
}
h3{
    font-size:6vw;
    /* line-height: 0px; */
    color: var(--color-light);
}
li {
    list-style-type: none;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
    color:var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color:var(--color-light);
}
/*----------------------------------------------------| F O O T E R |----------------------------------------------------*/
footer a{
    text-decoration: none;
    color:var(--theme-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer a:hover{
    color:var(--text-color);
}
/* header{
    background-color: rgba(61, 168, 255);
} */
.logo{
    width: 15%;
}
footer, footer h2{
    color: var(--text-color);
}
/*-----------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------| C L A S E S |----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------| M E N U |------------------------------------------------------*/
/* @media screen and (max-width: 1100px) {
    .menu {
    flex-direction: column;
    position:sticky;
    top:0px;
    
    box-shadow: inset -2px -2px 10px black;
    }
} */

.menu{
    align-items: center;

    display:flex;
    /* flex-direction: column; */

    /* background-color: var(--theme-color); */
    /* box-shadow: inset -2px -2px 10px rgb(128, 198, 255); */
    border-radius: 5px;
}
.menu-item{
    padding: 1rem 2rem;
    color:var(--text-color);
    /* background-color: rgba(0, 0, 0, 0); */
}
.menu-item:hover{
    transition: 0.5s;
    color:var(--color-light);
}
.material-symbols-outlined{
    border-bottom: 2px solid var(--theme-);
    color:var(--text-color);
}
.material-symbols-outlined:hover{
    transition: 0.5s;
    color: var(--text-color);
}
/*---------------------------------------------------| G A L E R I A |---------------------------------------------------*/
/* .galeria{
    display:flexbox;
    justify-content: center;
    max-width: 850px; 
    /*flex-wrap: wrap; 
}*/

/* .imagen{
    min-width: 150px;
    width: 16%;
    padding: none;
    margin: none;
    display:inline-flex;
    align-items: center;
} */
/*----------------------------------------------------------| X X X X |-------------------------------------------------*/
.titulo {
    /* border:solid 1px yellow; */
    margin-top:5%
}
h2, h3{
    display: contents;
}

.container {

    display:flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    /* height:70vh ; */
    margin: 50px 0px;
    padding: 0 1rem;
    flex-wrap: wrap;
    /* max-width: 500px; */
    /* align-items:center */
    overflow: auto;
    /* border:1px solid red;*/
    border-radius: 5px;
    /* background-color: rgb(12, 12, 12);   */
    /* box-shadow: 2px 2px 5px #00e1ff2a; */
}
.nav_{
    /* height:40vh; */
    /* border:solid 2px yellowgreen; */
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-self: center;
}
.text{
    padding: 1rem 1rem;
    margin:0 auto;
    /* width: 65%; */
    border-left:solid 2px var(--color-dark);
    text-align: left;
    font-size: 2.2rem;
        /* border:solid 2px coral;  */

}

.container_videos{
    background-color: var(--color-alt);
}

.contacto{
    display:flex;
    flex-direction:column
}
#enviar{
    padding: 5px 10px;
    margin-top: 30px;
    /* background-color:rgb(74, 174, 255); */
    background-color: var(--color-dark);
    font-size: larger;
    font-weight: 600;
}
#enviar:hover{
    /* background-color: rgb(21, 150, 255); */
    background-color: var(--color-light);
}
.bottom_text{
    /* border: solid 1px ; */
    font-size: 1rem;
    width: 100%;
    justify-content: right;
    display: flex;
    margin-top:20px;
    margin-bottom: 0px;
}
.sp1, .sp2{
    margin:0 10px;
    padding: 10px;
    width: 45%;
    /* border:solid 1px yellowgreen; */
    align-self: start;

    /* justify-content:center; */
}
.ftr{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.red{
    display:flex;
    flex-direction:column;
    align-items: left;
    padding: 1rem;
    border-left:solid 2px var(--color-light);
}
.contacto{
    border-left:solid 2px var(--color-light);
    padding: 1rem;
}
.image{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition:0.5s ease;
}
.galeria img:hover{
    width: 200px;
    opacity:1;
    cursor: pointer;
    /* box-shadow:  2px 2px 4px rgb(21,250, 255);   */
    
}
/* @media olnly screen and (min-width:600px) {
.galeria{
    display:flex;
    width: 400px;
    height: 200px;
    }
} */
.galeria{
    display:flex;
    width: 800px;
    height: 200px;
}

/*white EDITION*/
/* body{background-color: blanchedalmond;color:black}
a{color:black} */
.div_ {
    display:flex;
    height: 50px;
    position:relative;
}
/*para modo DARK con botones
no va el @media
:root[data-theme="dark"]

---para ocultar BOTONES
:root[data-theme="dark"] .light-mode-btn{display:none;}
:root[data-theme="light"] .dark-mode-btn{display:none;}
*/
.mode {
    background-color: inherit;
    border: inherit;
    color: var(--text-color);
    font-size: medium;

}
.mode :hover{
    color: var(--color-light);
    cursor: pointer;
}
.logo{
    filter: var(--invert-logo);
}
.IPF{
    width: 700PX;
}
.avatar{
    width: 15%;
}
.card{
    background-color: inherit;
    color:var(--text-color);
    margin:1px
}
.card-body{
justify-content: space-around;
}
.piede{
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    padding-top: 1rem;;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}